@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#black-cont {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: black;
  padding: 0 9px 9px 0;
  border-radius: 2.5rem 2.5rem 1.5rem 2.5rem;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 1.3rem;
  border-radius: 1.5rem;
  border: 2px solid black;
}
.top-container {
  width: 100%;
}
.top-container img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: hsl(47, 88%, 63%);
  color: black;
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}
h5 {
  font-family: "Figtree", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
h1 {
  font-family: "Figtree", sans-serif;
  font-size: 30px;
  font-weight: 800;
}
h1:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
p {
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: hsl(0, 0%, 50%);
  opacity: 0.8;
  width: 80%;
}
.avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
}
.avatar img {
  width: 40px;
  height: 40px;
}
.avatar p {
  font-size: 15px;
  font-weight: 800;
  color: black;
}

/* Responsiveness */
@media screen and (max-width: 672px) {
  #black-cont {
    width: 70%;
  }
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 573px) {
  .container {
    padding: 1rem;
  }
  .wrapper {
    width: 100%;
    padding: 3rem;
  }
  #black-cont {
    width: 100%;
  }
  button{
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
  }
  h1 {
    font-size: 21px;
  }
  p {
    font-size: 13px;
    width: 100%;
  }
  h5{
    font-size: 14px;
  }
}
@media screen and (max-width: 398px) {
  .wrapper{
    padding: 1rem;
  }
  h1 {
    font-size: 17px;
  }
}
